
<!--File: setup.ejs -->

<!DOCTYPE html>

<html lang="en">
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<style>
#titleDiv { position: relative; left: 281px; width: 523px; }
#title {text-align:center; width:523px; font-size:2em;}
#game {position: absolute; left: 290px;    top: 66px; ; background-color: lightgreen; width: 1200px; height: 835px;}
#arrows {position:relative; top:40px; }
#flags { position: relative; top: 63px; }
#scoreBars { position: relative; top: 175px; left: 100px;}
.flag {position:"relative"; width: 130px; height: 95px;  }
#chile{z-index:0; position: relative; top: 0px; left: 0px; }
#brasil{z-index:0; position: relative; top: 0px; left: 0px;} 
#argentina {z-index:0;     position: relative; top: 0px; left: 0px;}
#BA {position:relative;}
#BC {position:relative;}
#BB {position:relative;} 
#BM {position:relative;}
#timer {position: absolute;top: 0em; left: .5em;  font-size: xx-large;}
#falta {position: absolute; font-size: x-large; width: 50px;    text-align: center; } 
#scoreBarLeft {position: relative;   overflow:hidden; height:30px; width: 100px; z-index:1;} 
#scoreBarRight {position: relative;  overflow:hidden; height:30px; width: 100px; z-index:1;}
#goalBarLeft {-webkit-transform: rotate(-90deg);position:relative; width:100px; height:30px;}
#goalBarRight {-webkit-transform: rotate(90deg);position:relative; width:100px; height:30px;}
#gameSize { max-width: 25px; margin: 2px; }
.scoreInput { position: absolute; left: 4.1em; width: 1em; font-size: 1.1em;text-align:center; }
.team {font-size:1.2em; vertical-align:top; }
.scoreBar {height: 30px; width: 100px; }
.button {margin:2px;background-color:lightgrey}
#buttons {position: relative; top: -193px; left: 264px; }
.row {height:96px;}
</style>
</head>

<body class="container">
<form>
<div id="titleDiv">
 <H1 id='title'><%= name %></H1>
 <input type="hidden" id="leftIndex"  name="leftIndex" value="">
 <input type="hidden" id="rightIndex" name="rightIndex" value="">
</div>
<div id="game">
<div id="backgrounds" >
<div id="gameSizeDiv">Game Size: <input type="text" id="gameSize" name="remaining" autofocus ></div>
<table id="colorThemes" border="2px" border-color="black">
<th> side</th> <th> select </th> <th> Arrow</th><th> GoalBar</th> <th> ScoreBar </th> <th> Flag </th> <th> Country </th> 
<tr>
  <td class= "row" > Left </td>
  <td>
   <select id="teamLeft" >
     <option value=0 >Argentina</option>
     <option value=1 >Brasil</option>
     <option value=2 >Chile</option>
     <option value=3 >Mexico</option>
    </select> 
  </td>
<td id="leftArrow4Game" >     </td>
<td id="goalBarLeft4Game">    </td>
<td id= "leftScoreBar4Game">  </td>
<td id= "leftFlag4Game">      </td>
<td id= "leftCountry4Game">   </td>
<tr>
  <td class= "row" >Right </td>
  <td> 
    <select id="teamRight"  >
     <option value=0 >Argentina</option>
     <option value=1 >Brasil</option>
     <option value=2 >Chile</option>
     <option value=3 >Mexico</option>
    </select>
 </td>
<td  id="rightArrow4Game">    </td>
<td id="goalBarRight4Game">   </td>
<td id= "rightScoreBar4Game"> </td>
<td id= "rightFlag4Game">     </td>
<td id= "rightCountry4Game">  </td>
</table>
</form>
     <div id="arrows">
         <img id="leftArrow" src="/images/ArrowLeftA.png" >
         <img id="rightArrow" src="/images/ArrowRightC.png" >
         <img id="leftArrow" src="/images/ArrowLeftB.png" >
         <img id="rightArrow" src="/images/ArrowRightM.png" >
     </div>
     <div id="flags">
         <img class="flag" id="BA" src="/images/BanderaArgentina.png" >
         <img class="flag" id="BC" src="/images/BanderaChile.png">
         <img class="flag" id="BB" src="/images/BanderaBrasil.png" >
         <img class="flag" id="BM" src="/images/BanderaMexico.png">
     </div>
     <div id="scoreBars">
         <img class="scoreBar" src="/images/ArgentinaScoreBar.png">
         <img class="scoreBar" src="/images/ChileScoreBar.png">
         <img class="scoreBar" src="/images/BrasilScoreBar.png">
         <img class="scoreBar" src="/images/MexicoScoreBar.png">
    </div>
    <div>
      <div id='buttons'>
       <input type="submit" class = "button" id="setup" value="Set up game" formaction='/' formmethod="post" formenctype="application/x-www-form-urlencoded" />
      </div>
   </div>

<script>
  var flags= [
    '<img class="flag" id="BA" src="/images/BanderaArgentina.png">'
  , '<img class="flag" id="BB" src="/images/BanderaBrasil.png">'
  , '<img class="flag" id="BC" src="/images/BanderaChile.png">'
  , '<img class="flag" id="BM" src="/images/BanderaMexico.png">'
  ];
  var leftArrows= [
    '<img id="leftArrow" src="/images/ArrowLeftA.png">'
  , '<img id="leftArrow" src="/images/ArrowLeftB.png">'
  , '<img id="leftArrow" src="/images/ArrowLeftC.png">'
  , '<img id="leftArrow" src="/images/ArrowLeftM.png">'
  ];
  var rightArrows= [
    '<img id="rightArrow" src="/images/ArrowRightA.png">'
  , '<img id="rightArrow" src="/images/ArrowRightB.png">'
  , '<img id="rightArrow" src="/images/ArrowRightC.png">'
  , '<img id="rightArrow" src="/images/ArrowRightM.png">'
];
  var countries = ["Argentina", "Brasil", "Chile", "Mexico"];
  var scoreBars =[
    '<img class="scoreBar" src="/images/ArgentinaScoreBar.png">'
   , '<img class="scoreBar" src="/images/BrasilScoreBar.png">'
   , '<img class="scoreBar" src="/images/ChileScoreBar.png">'
   , '<img class="scoreBar" src="/images/MexicoScoreBar.png">'
  ]
 var goalBars =[
    '<img class="goalBar" src="/images/ArgentinaScoreBar.png">'
   , '<img class="goalBar" src="/images/BrasilScoreBar.png">'
   , '<img class="goalBar" src="/images/ChileScoreBar.png">'
   , '<img class="goalBar" src="/images/MexicoScoreBar.png">'
  ];
var gameSizeInput = leftIsInput = rightIsInput = false;

$(document).ready(function(){
$('.button').prop('disabled', true);
var flags= ['<img class="flag" id="BA" src="/images/BanderaArgentina.png">'
           ,'<img class="flag" id="BB" src="/images/BanderaBrasil.png">'
           ,'<img class="flag" id="BC" src="/images/BanderaChile.png">' 
           ,'<img class="flag" id="BM" src="/images/BanderaMexico.png">' 
 ];

$('#gameSize').blur(function(){
 gameSizeInput=true;
   isReadyToSetup();
 //alert('gameSizeInput: ' + gameSizeInput);
});
//////////Left Team dropdown listeners////////////
$('#teamLeft').on("change", function(){
   var index = $('#teamLeft').val();
   console.log('Left selected index is: ' + index);
   // set the left index which will be passed to the game display to compute 4 display images and one of the country dropdown values.
   $('#leftIndex').val(index);
   //the following is just to give visual feedback in the table
   var arrow = leftArrows[index];
   var goalBar =goalBars[index]; 
   var scoreBar =scoreBars[index]; 
   var flag = flags[index]; 
   var country= countries[index];
   console.log('LeftArrow: ' + arrow);
   console.log('LeftScoreBar: ' + scoreBar);
   console.log('LeftGoalBar: ' + goalBar);
   console.log('Left flag is: '+ flag);
   console.log('Left country is: '+ country);
   // populate the table for visual feedback  
   $('#leftArrow4Game').html(arrow);
   $('#goalBarLeft4Game').html(goalBar);
   $('#leftScoreBar4Game').html(scoreBar);
   $('#leftFlag4Game').html(flag);
   $('#leftCountry4Game').html(country);
   leftIsInput=true;
   isReadyToSetup(); //if both other required inputs are satisfied this will enable the submit button.
}); //#teamLeft listener.

/////////////Right Team dropdown listener //////////////
$('#teamRight').on("change", function(){
  var index = $('#teamRight').val();
   console.log('Right selected index is: ' + index);
 //set the rightIndex in a named element so it is passed to the game display.
 $('#rightIndex').val(index);
 //The following code only gives a visual feedback in the table on the country selected.
   var arrow = rightArrows[index];
   var goalBar =goalBars[index]; 
   var scoreBar =scoreBars[index]; 
   var flag = flags[index]; 
   var country= countries[index];

   console.log('rightArrow: ' + arrow);
   console.log('rightScoreBar: ' + scoreBar);
   console.log('rightGoalBar: ' + goalBar);
   console.log('right flag is: '+ flag);
   console.log('right country is: '+ country);
  // populate the table for visual feedback
  $('#rightArrow4Game').html(arrow);
  $('#goalBarRight4Game').html(goalBar);
  $('#rightScoreBar4Game').html(scoreBar);
  $('#rightFlag4Game').html(flag);
  $('#rightCountry4Game').html(country);

   rightIsInput=true;
   isReadyToSetup();
}); // #teamRight listener.

var isReadyToSetup= function(){
   if( gameSizeInput && leftIsInput && rightIsInput){
   $('.button').prop('disabled', false);
   //alert('Just enabled the setup game button.')
 }
}
/////////img tag builders -- no longer called. Arrays are used./////////////
var getFlag= function(side, ndx){
   var name= 'flag'+side;
   return '<img id="' + name + '" name="' + name + '" class="flag" src ="/images/'+ flags[ndx-1] +  '" >'
}//function
var getArrow=function(side,ndx){
   var arrow = 'Arrow'+ side;
   var src=arrow + arrows[ndx-1];
   return '<img id="' + arrow +'" src="/images/' + src + '.png" >';
}//function
var getScoreBar=function(side,ndx){
   var scoreBar = 'scoreBar'+ side;
   var src=countries[ndx-1] + 'ScoreBar.png' ;

   return '<img id="' + scoreBar  +'" class="scoreBar" src="/images/' + src + '">';
}//function
//GoalBar uses same image but is rotated +- 90 degrees by css.
var getGoalBar=function(side,ndx){
   var goalBar = 'goalBar'+ side;
   var src=countries[ndx-1] + 'ScoreBar.png' ;
   var name= goalBar + '4Game';
   return '<img id="' + goalBar  + '" name= "' + name + '" class = "goalBar"  src="/images/' + src + '">';
}//function
});//end $(document).ready(function()...
  </script>
</body>
</html>
